body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: url('imagenes/portada.jpg') no-repeat center center/cover;
    color: #ffffff;
    padding: 20px 0;
}

.menu.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

.menu-icon {
    width: 24px;
    display: none; /* Hide the menu icon by default */
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.navbar ul li {
    margin: 0 15px;
}

.navbar ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
}

.container {
    padding: 20px;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.content .text {
    flex: 1;
    margin-right: 20px;
}

.content img {
    max-width: 300px;
    border-radius: 10px;
    margin-left: 20px;
}

h1, h2 {
    color: #333;
}

.objectives, .projects {
    margin-top: 20px;
}

.objectives ul, .projects ul {
    padding-left: 20px;
}

.thought {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.thought div {
    background: #e67e22;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .menu-icon {
        display: block;
    }
    .navbar {
        display: none;
        width: 100%;
        background-color: #e67e22;
        position: absolute;
        top: 70px;
        left: 0;
        padding: 10px 0;
    }
    .navbar ul {
        flex-direction: column;
        align-items: center;
    }
    .navbar ul li {
        margin: 10px 0;
    }
    #menu:checked + label + .navbar {
        display: flex;
        flex-direction: column;
    }

    .content {
        flex-direction: column;
    }

    .content .text, .content img {
        margin: 0;
        max-width: 100%;
    }

    .content img {
        margin-top: 20px;
    }

    .thought {
        flex-direction: column;
    }

    .thought div {
        margin-bottom: 10px;
    }
}
